.bg-nav-color{
    background-color: blue;
}
.txt-nav-color{
    color: white
}
body{
    margin: 0 !important;
    width: 100vw;
    padding: 0 !important;
}
footer .card{
    background-color: blue !important;
    border-radius: 0;
}
footer .card-body{
    height: 200px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8) !important;
    
}

footer .card-body a{
    
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8) !important;
}
footer .card-header{
    background-color: rgb(17, 25, 31) !important;
    text-align: center;
}
footer .card-header a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 20px;
}
footer .card-header a:hover{
    color: blue;

}